</main>
<footer class="w-100 bg-dark-brown py-5 d-flex justify-content-around align-items-center">
  <div>
    <img src="/myDirectories/lar_tcc/assets/images/icons/LarLogoClear.png">
  </div>
  <div>
    <h3 class="txt-cream fw-bold">TCC - 3° Desenvolvimento de Sistemas 2023 <br>ETEC Euro Albino de Souza - Mogi Guaçu - SP</h3>
  </div>
  <div>
    <h3 class="txt-cream fw-bold fs-5">Arthur de Lima <br>Giovanna Silva Diogo <br>Juan Octávio Soares Barbosa <br>Otávio Casadei <br>Rodrigo Polastro da Silva</h3>
  </div>
</footer>
