.tile-image{
  width: 100px;
}

.wall-image{
  width: 100px;
  height: 76px;
  /* border-radius: 20px; */
}

.selected-tile{
  outline: 10px solid red;
}

.selected-furniture{
  outline: 10px solid blue;
}

#houseDiagram{
  outline: 2px solid black;
  background: #f4f8f9;
}
