<!-- Editing room Modal -->
<div class="modal fade" id="editingRoomModal" tabindex="-1">
  <div class="modal-dialog modal-xl">
    <div class="modal-content bg-cream border-brown rounded-4 fw-bold">
      <div class="modal-header row m-0 bg-brown rounded-3">
        <div class="col"></div>
        <div class="col-lg-5">
          <h1 class="modal-title fs-2 text-center txt-brown fontGeneral fw-bold">Modo de Edição</h1>
        </div>
        <div class="col d-flex flex-row-reverse">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-center txt-brown mb-3">
          <label for="modalRoomNameInput" class="fs-5 me-2">Nome do Cômodo:</label>
          <input type="text" id="modalRoomNameInput" class="rounded-3 txt-red border-0 bg-red fw-bold fs-5">
        </div>
        <div class="d-flex align-items-center justify-content-center mb-4">
          <div class="col-3 d-flex justify-content-center align-items-center txt-brown bg-red rounded-2 me-5 p-3">
            <label for="modalRoomTileInputImg" class="me-2">Piso Atual:</label>
            <div class="d-flex justify-content-center">
              <img src="" alt="" id="modalRoomTileInputImg" class="max-square rounded-2">
            </div>
          </div>
          <div class="col-3 d-flex justify-content-center align-items-center txt-brown bg-red rounded-2 me-5 p-3 ms-3">
            <label for="modalRoomWallInputImg" class="me-2">Parede Atual:</label>
            <div class="mx-2 max-square rounded-2 d-flex align-items-center justify-content-center overflow-hidden">
              <img src="" alt="" id="modalRoomWallInputImg" class="wall-img w-100">
            </div>
          </div>
        </div>
        <div class="row bg-lime rounded-5 py-3 px-1">
          <div class="col">
            <h3 class="text-center bg-brown rounded-3 txt-brown py-1 fontHeader">Textura do Piso</h3>
            <div id="modalTilesList" class="justify-content-center"></div>
          </div>
          <div class="col">
            <h3 class="text-center bg-brown rounded-3 txt-brown py-1 fontHeader">Textura da Parede</h3>
            <div id="modalWallsList" class="d-flex flex-wrap justify-content-center"></div>
          </div>
        </div>
        <div class="modal-footer row">
          <button type="button" class="py-2 bg-brown border-0 rounded-2 h5 txt-brown col mx-5" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="py-2 bg-lime border-0 rounded-2 h5 txt-brown col mx-5" data-bs-dismiss="modal" id="modalUpdateRoomButton">Salvar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal to confirm room deletion -->
<div class="modal fade" id="deletingRoomModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 fw-bold fontGeneral">EXCLUIR CÔMODO</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <h5 id="deletingRoomMessage"></h5>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button id="modalDeleteRoomButton" type="button" data-bs-dismiss="modal" class="btn btn-danger">Excluir Cômodo</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editingFurnitureModal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content bg-cream border-brown rounded-4 fw-bold">
      <div class="modal-header bg-brown rounded-3">
        <div class="col"></div>
        <div class="col-xlg-5">
          <h1 class="modal-title fs-2 text-center txt-brown fw-bold fontGeneral">Editar Nome do Móvel</h1>
        </div>
        <div class="col d-flex flex-row-reverse">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
      </div>
      <div class="modal-body">
        <label for="modalFurnitureNameInput">Nome do Móvel</label>
        <input type="text" id="modalFurnitureNameInput" class="rounded-3 txt-red border-0 bg-red fw-bold">
        <img src="" alt="" id="modalFurnitureImg" class="">
      </div>
      <div class="modal-footer row border-0">
        <button type="button" data-bs-dismiss="modal" class="bg-brown border-0 rounded-2 h5 txt-brown h5 col mx-5 py-1">Fechar</button>
        <button id="modalUpdateFurnitureButton" type="button" data-bs-dismiss="modal" class="bg-lime border-0 rounded-2 h5 txt-brown h5 col mx-5 py-1">Salvar Alteração</button>
      </div>
    </div>
  </div>
</div>