  <div id="houseDiagramMenu" class="ms-5 container-fluid overflow-auto" style="height: 690px;">
    <div id="sectionSelector">
      <button id="myRoomsSectionButton"      class="bg-green border-green rounded-3 h5 p-1 txt-green">Meus Cômodos</button>
      <button id="myFurnitureSectionButton"  class="bg-green border-green rounded-3 h5 p-1 txt-green ms-3">Meus Móveis</button>
      <button id="allFurnitureSectionButton" class="bg-green border-green rounded-3 h5 p-1 txt-green ms-3">Adicionar Móveis</button>
    </div>
    <div id="myRoomsSection" class="">
      <h1 class="txt-brown fw-bold">Novo cômodo</h1>
      <div class="d-flex align-items-center text-center bg-cream border-brown rounded-5 pt-2 pb-2 mb-2 pe-2 row">
        <label for="roomNameInput" class="col txt-brown fw-bold fs-4">Nome do Cômodo:</label>
        <select name="" id="roomNameInput" class="col rounded-4 txt-red border-0 bg-red fw-bold fs-4">
          <option value="kitchen">Cozinha</option>
          <option value="livingRoom">Sala de Estar</option>
          <option value="diningRoom'">Sala de Jantar</option>
          <option value="bedroom">Quarto</option>
          <option value="bathroom">Banheiro</option>
          <option value="other">Outro</option> <!-- This one opens a text input when selected -->
        </select>
        <div id="roomTileInputDiv" class="tile-image" role="button" data-bs-toggle="popover" tabindex="0">
          <!-- the 'src' attribute is filled with the placeholder image by javascript -->
          <img src="" alt="" id="roomTileInputImg" class="w-100 rounded-2">
        </div>
        <button id="createRoomButton" class="bg-brown border-0 txt-brown fw-bold rounded-4 fs-4 col">Criar Cômodo</button>
        <div id="tilesPopoverContent" class="d-none"></div>
      </div>
      <h1 class="txt-brown fw-bold">Meus cômodos</h1>
      <div id="roomsList"><!-- Room list is filled dinamically by javascript --></div>
    </div>

    <div id="myFurnitureSection" class="d-none">
      <h1 class="txt-brown fw-bold">Meus Móveis</h1>
      <div id="myFurnitureList" class="" style=""><!-- My furniture list is filled dinamically by javascript --></div>
    </div>

    <div id="allFurnitureSection" class="d-none">
      <label for="furnitureNameInput">Nome do Móvel</label>
      <input type="text" id="furnitureNameInput">
      <h1>Móveis Disponíveis</h1>
      <div id="allFurnitureList"><!-- All furniture list is filled dinamically by javascript --></div>
    </div>

      <!-- Editing room Modal -->
    <div class="modal fade" id="editingRoomModal" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header row m-0">
            <div class="col"></div>
            <div class="col-lg-5">
              <h1 class="modal-title fs-1 text-center">Modo de Edição</h1>
            </div>
            <div class="col d-flex flex-row-reverse">
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
          </div>
          <div class="modal-body">
            <div class="row d-flex align-items-center mb-5">
              <div class="col d-flex justify-content-center">
                <label for="modalRoomNameInput">Nome do Cômodo:</label>
              </div>
              <div class="col d-flex justify-content-center">
                <input type="text" id="modalRoomNameInput">
              </div>
              <div class="col d-flex justify-content-center">
                <label for="modalRoomTileInputImg">Piso Atual:</label>
              </div>
              <div class="col d-flex justify-content-center">
                <img src="" alt="" id="modalRoomTileInputImg" class="tile-image">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h3 class="text-center">Textura do Piso</h3>
                
                <div id="modalTilesList" class="collapse">
                  <!-- RODRIGO RODRIGO RODRIGO RODRIGO RODRIGO DIOGO RODRIGO RODRIGO RODRIGO RODRIGO RODRIGO RODRIGO RODRIGO RODRIGO RODRIGO RODRIGO RODRIGO -->
                  <!-- remova a class="collapse" da div acima -->
                  <!-- faça o que está sendo representado abaixo no arquivo createTileImg.js-->
                  <!-- <div> "aqui vai as 9 primeiras imagens dos pisos (faz seu código lá), talvez nem seja necessário uma div aqui"  </div> -->
                  <!-- <div id="banana" class="collapse"> "aqui vai o resto das imagens, 6 atualmente" </div> -->
                </div>
              </div>
              <div class="col">
                <h3 class="text-center">Textura da Parede</h3>
              </div>
              <div class="d-flex justify-content-center">
                <a href="#modalTilesList" class="btn" data-bs-toggle="collapse">descer</a>
                <!-- No href acima substitua "#modalTilesList" por o que foi colocado no id da div com o resto -->
                <!-- das imagens, que seguindo o exemplo seria href="#banana" -->
              </div>
            </div>
            <div class="modal-footer row">
              <button type="button" class="border border-4 border-start-0 border-bottom-0 rounded-2 h5 col mx-5" data-bs-dismiss="modal" id="modalUpdateRoomButton">Salvar</button>
              <button type="button" class="border border-4 border-start-0 border-bottom-0 rounded-2 h5 col mx-5" data-bs-dismiss="modal">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal to confirm room deletion -->
    <div class="modal fade" id="deletingRoomModal" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Excluir Cômodo</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <h5 id="deletingRoomMessage"></h5>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button id="modalDeleteRoomButton" type="button" data-bs-dismiss="modal" class="btn btn-danger">Excluir Cômodo</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Editing furniture Modal -->
    <div class="modal fade" id="editingFurnitureModal" tabindex="-1">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5">Editar Nome do Móvel</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-body">
            <label for="modalFurnitureNameInput">Nome do Móvel</label>
            <input type="text" id="modalFurnitureNameInput">
            <img src="" alt="" id="modalFurnitureImg" class="">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
            <button id="modalUpdateFurnitureButton" type="button" data-bs-dismiss="modal" class="btn btn-primary">Salvar Alteração</button>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div> <!-- Closes the box what wraps the house diagram editor and menu -->