<div class="d-flex ms-5 me-5"> 
  <div id="houseDiagramEditor" class="">
    <button id="clearDiagramButton" class="border border-4 border-start-0 border-bottom-0 rounded-2 h5 p-1">
      <img src="../../assets/images/icons/trash.png">
      Limpar Diagrama (Excluirá todos os móveis)
    </button>
    <button id="eraserModeButton" class="border border-4 border-start-0 border-bottom-0 rounded-2 h5 p-1">
      <img src="../../assets/images/icons/eraser.png">
      Modo Borracha: <span id="eraserModeIndicator">OFF</span>
    </button>
    <!-- 
      IT'S NOT LONGER POSSIBLE TO SAVE THE CHANGES MANUALLY:
      <button id="saveDiagramButton" class="border border-4 border-start-0 border-bottom-0 rounded-2 h5 p-1">
        <img src="../../assets/images/icons/confirm.svg">
        Salvar Diagrama
      </button>

      EXPLANATION:
        For now, every action in the diagram is automatically saved on the database,
        what makes them irreversible. Althought that's not the most user-friendly 
        approach, this change is necessary for the current development of the project,
        but the "save button feature" can return in future updates. 
    -->
    <canvas id="houseDiagram"></canvas>
  </div>